<div> 
  <div class="row mt-5">
    <div class="col-6">      
        <div class="text-center" >
          
          <!--Form to accept Note-->
          <form [formGroup] = "notesForm">
            <mat-card class="card text-center">
            <mat-card-title>Add Note</mat-card-title>
           
              <mat-form-field  >
                <mat-label>Title</mat-label>
                <input matInput name="title" formControlName="title" required>
              </mat-form-field>
              <br>
              <mat-form-field   class="textarea">
                <mat-label>Write a Note here</mat-label>
                <textarea matInput name="note" formControlName="note" required></textarea>
              </mat-form-field>
              <br> <br>  <br>
              <button mat-raised-button color="primary" (click)="onAddNote()">Save</button>&nbsp;&nbsp;
              <button mat-raised-button color="primary" (click)="resetForm()">Cancel</button>
            </mat-card>
          </form>
       </div>
      </div>

      <div class="col-6   text-center"  *ngIf="notes"  >
      
        <!--Searchbar-->
        <div>
            <form class="example-form">
              <mat-form-field  class="example-full-width" style="background-color:gold; width: 700px;">
            <input  matInput [(ngModel)]="searchInput" name="searchInput" (keyup)="searchNote($event.target.value)" placeholder="Search a note here.....">
              </mat-form-field>
            </form>
          
         
        <div  *ngFor="let n of filteredNotes">
          
          <!--Card to display Note-->
          <mat-card class="mt-2 card2">
            <div> 
              <span><strong><h2 class="text-center d-inline-block">{{n.title}}</h2></strong></span>

            <span class="float-right d-inline-block">
              <a [routerLink]="['edit',n.id]" class="routerLink" >
              <mat-icon>edit</mat-icon>
             </a>
            <button mat-icon-button  (click)="delete(n)" color="primary">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>

         
         <mat-card-content class="card-content text-center">
          <div class="note">{{n.note}} </div> 
         </mat-card-content>
         </mat-card>
          <br >
          
        </div>
      </div>
    </div>
</div>
